<main class="login">
  <div class="content content--side picture">
    <div class="poster" style="background-image:url(./assets/team2.jpg)"></div>
    <div class="canvas-wrap">
      <canvas></canvas>
    </div>
  </div>
  <div class="content content--side width">
    <nz-card [nzBordered]="false" [nzCover]="coverTemplate">
    </nz-card>
    <ng-template #coverTemplate>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <div class="d-flex mt-3"><img style="width: 100px;" src="./assets/logo.png"></div>
        <div class="d-flex mb-3 mt-2"><span style="font-size: 2.8em;font-weight: 600;line-height: 1">Rule of Law <span style="font-weight: 300;font-size: 1.28em">Project Board</span></span></div>
        <nz-form-item class="mt-1">
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user" [nzSize]="'large'">
              <input nzSize="large" type="text" nz-input formControlName="userName" placeholder="Username" id="username"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
              <input nzSize="large" type="password" nz-input formControlName="password" placeholder="Password" id="password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <!-- <label nz-checkbox formControlName="remember">
	            <span>Remember me</span>
	          </label>
	          <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
            <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">Login</button>
          </nz-form-control>
        </nz-form-item>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <a>Terms & Agreement</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>About</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Contact Team</a>
        </div>
      </form>
    </ng-template>
  </div>
</main>
