<ngx-spinner bdOpacity=0.4 bdColor="rgba(255,255,255,0.35)" size="default" color="#565656" type="ball-clip-rotate" [fullScreen]="true">
</ngx-spinner>
<nz-content class="c-page-height">
  <span *ngIf="isCreator && data.isActive">
    <div nz-row class="bg-white py-2 px-2 mt-1" *ngIf="data.projectStatus !== 2">
      <div nz-col="24">
        <nz-steps [nzCurrent]="data.projectStatus + 1">
          <nz-step nzTitle="Created" nzDescription="You've successfully created a project."></nz-step>
          <nz-step nzTitle="In Review" nzDescription="The team is reviewing your project now."></nz-step>
          <nz-step nzTitle="Launched" nzIcon="smile" nzDescription="Congrats! Now people can join your project."></nz-step>
        </nz-steps>
      </div>
    </div>
    <div nz-row class="mt-1" *ngIf="data.projectStatus == 2">
      <div nz-col="24">
            <nz-alert
            nzType="warning"
            nzMessage="Project Rejected"
            nzDescription="Feedback from the team: {{data.rejectComment}}"
            nzShowIcon
          >
          </nz-alert>
      </div>
    </div>
  </span>
  <div nz-row class="my-1">
    <div nz-col nzMd="16" nzLg="18" class="inner-content px-2 py-1 bg-white" [ngClass]="{'opacity60': !data.isActive}">
      <nz-page-header class="px-0 mb-1" nzBackIcon>
        <!--breadcrumb-->
        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item><a routerLink="{{fromUrl}}">{{fromPage}}</a></nz-breadcrumb-item>
          <nz-breadcrumb-item> {{data.projectName}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <!--title-->
        <nz-page-header-title>
          {{data.projectName}}
        </nz-page-header-title>
        <nz-page-header-content class="mt-1">
          <span *ngIf="data.isActive">
            <nz-badge nzText="In Review" nzColor="blue" *ngIf="data.projectStatus == 0"></nz-badge>
            <nz-badge nzText="Launched" nzStatus="success" *ngIf="data.projectStatus == 1"></nz-badge>
            <nz-badge nzText="Rejected" nzStatus="warning" *ngIf="data.projectStatus == 2"></nz-badge>
          </span>
          <span *ngIf="!data.isActive">
            <nz-badge nzText="Inactive" nzStatus="default"></nz-badge>
          </span>
          <nz-divider nzType="vertical" *ngIf="data.isCharity"></nz-divider>
          <nz-tag [nzColor]="'blue'" *ngIf="data.isCharity">Charity Project</nz-tag>
          <div class="float-right">
            <b>Start:</b> {{data.createdDate}}
            <nz-divider nzType="vertical"></nz-divider>
            <b>End:</b> {{data.endDate}}
          </div>
        </nz-page-header-content>
      </nz-page-header>

      <div style="width: 100%; max-height: 348px; overflow: hidden;">
        <img src=" {{data.picture}}" style="width: 100%; object-fit: cover;object-position:50% 50%;">
      </div>
      <div nz-row class="mt-1"><i nz-icon nzType="environment" nzTheme="outline"></i>{{data.location}}</div>
      <p class="mt-1">{{data.projectDescription}}</p>
      <nz-divider nzText="Recruiting volenteers!"></nz-divider>
      <div class="mt-1">
        <nz-tag *ngIf="data.requiredSkill.dev">Developers</nz-tag>
        <nz-tag *ngIf="data.requiredSkill.pm">Product Managers</nz-tag>
        <nz-tag *ngIf="data.requiredSkill.design">UX/UI</nz-tag>
        <nz-tag *ngIf="data.requiredSkill.content">Content</nz-tag>
      </div>
      <p class="mt-1">{{data.requiredSkillText}}</p>
    </div>
    <div nz-col class="sidebar" nzMd="8" nzLg="6">
      <!-- creator pod -->
      <div class="pl-1 pb-1" *ngIf="isCreator">
        <nz-card [nzTitle]="null" nzIcon="team">
          <nz-progress *ngIf="data.isActive" class="my-2" [nzPercent]="Difference_In_Day_Percentage" [nzFormat]="percentageFormat" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" nzType="line"></nz-progress>
          <button *ngIf="data.isActive" nz-button nzType="default" nzBlock class="mt-1" (click)="toEditPage()">Edit Project</button>
          <span *ngIf="data.projectStatus == 1">
            <button class="mt-1" nz-button nzType="{{activeBtn}}" (click)="activeProject()" [nzLoading]="isLoading_active" nzBlock>{{activeText}}</button>
            <div *ngIf="data.isActive" class="d-flex my-1 align-items-center"><i nz-icon nzType="info-circle" nzTheme="outline" class="mr-1"></i><span>People <b>will not</b> be able to view or join inactive project.</span></div>
            <div *ngIf="!data.isActive" class="d-flex my-1 align-items-center"><i nz-icon nzType="info-circle" nzTheme="outline" class="mr-1"></i> This is an inactive project</div>
          </span>

        </nz-card>
      </div>

      <div class="pl-1 pb-1" *ngIf="canApprove">
        <nz-card [nzTitle]="null" nzIcon="team">
          <span *ngIf="data.projectStatus == 0">
            <button nz-button nzType="primary" nzBlock nzSize="large" (click)="approveProject()">Approve</button>
            <button nz-popconfirm [nzPopconfirmTitle]="confirmTitle" nzPopconfirmPlacement="bottom" nzOkType="danger" nzOkText="Reject" (nzOnConfirm)="rejectProject()" nz-button nzType="dashed" nzBlock class="mt-05" nzSize="large">Reject</button>
            <ng-template #confirmTitle>
              <h4>Enter rejection reason:</h4>
              <textarea
                nz-input
                placeholder="Enter rejection reason"
                [nzAutosize]="{ minRows: 4, maxRows: 8 }"
                style="width:300px;"
              ></textarea>
            </ng-template>
          </span>
          <span *ngIf="data.projectStatus !== 0">
            <div *ngIf="!data.isActive" class="d-flex mt-1 align-items-center"><i nz-icon nzType="info-circle" nzTheme="outline" class="mr-1"></i> This is an inactive project</div>
            <nz-progress *ngIf="data.isActive" class="my-2" [nzPercent]="Difference_In_Day_Percentage" [nzFormat]="percentageFormat" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }" nzType="line"></nz-progress>
            <button class="mt-1" nzSize="large" nz-button nzType="{{activeBtn}}" (click)="activeProject()" [nzLoading]="isLoading_active" nzBlock>{{activeText}}</button>
            <span *ngIf="data.isActive" class="d-flex my-1 align-items-center"><i nz-icon nzType="info-circle" nzTheme="outline" class="mr-1"></i> <span>People <b>will not</b> be able to view or join inactive project.</span></span>
          </span>
        </nz-card>
      </div>
      <div class="pl-1 pb-1" *ngIf="canApprove && data.isCharity">
        <nz-card [nzTitle]="null" nzIcon="team" [ngClass]="{'opacity60': !data.isActive}">
          <h3>This is a charity project</h3>
          <button class="c-download-btn d-flex flex-direction-column align-items-center justify-content-center" nzSize="large" nz-button nzBlock><i nz-icon nzType="audit" nzTheme="outline" style="font-size: 1.74em;"></i>Download supporting document</button>
        </nz-card>
      </div>
      <div class="pl-1 pb-1" *ngIf="data.projectStatus == 1" [ngClass]="{'opacity60': !data.isActive}">
        <nz-card [nzTitle]="nzVolenteerTitle" nzIcon="team">
          <ng-template #nzVolenteerTitle>
            <i nz-icon class="mr-05" nzType="team" nzTheme="outline"></i>Volenteers
          </ng-template>
          <nz-list [nzItemLayout]="'horizontal'" class="c-list-height" #scrollMe>
            <nz-list-item *ngFor="let item of data.volunteers">
              <nz-avatar class="mr-05" nzIcon="user" nzSrc="{{ item.vAvatar }}"></nz-avatar>
              <span>
                <b>{{item.vName }}</b>
                <div>{{item.vTitle}}</div>
              </span>
            </nz-list-item>
          </nz-list>
          <span *ngIf="!isCreator" class="join-action">
            <button class="mt-1" nz-button nzSize="large" nzType="{{joinedBtn}}" (click)="joinProject()" [nzLoading]="isLoading" nzBlock>{{joinedText}}</button>
            <button *ngIf="joined" nz-button nzSize="large" nzType="link" (click)="leaveProject()" nzBlock><span class="text-mute">Leave Project</span></button>
          </span>
        </nz-card>
      </div>
      <div class="pl-1" *ngIf="!isCreator">
        <nz-card [nzTitle]="nzCreatorTitle" nzIcon="team">
          <ng-template #nzCreatorTitle>
            Creator Profile
          </ng-template>
          <div class="d-flex justify-content-center align-items-center flex-direction-column">
            <nz-avatar class="mt-1" nzSize="82px" nzIcon="user" nzSrc="{{ data.creatorAvatar }}"></nz-avatar>
            <h3 class="mt-05 mb-0 pb-0">{{ data.creator }}</h3>
            <div class="mb-1">{{ data.creatorTitle }}</div>
            <div class="mb-1"><i nz-icon nzType="mail" nzTheme="outline" class="mt-1"></i> {{ data.creatorContact }}</div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</nz-content>
